<html>
<head>
    <meta name='layout' content='main'/>
    <title><g:message code="springSecurity.login.title"/></title>
    <link rel="stylesheet" href="${resource(dir: 'css', file: 'login.css')}" type="text/css">
</head>

<body>
%{--<div class='fheader'><g:message code="springSecurity.login.header"/></div>--}%

<g:if test='${flash.message}'>
    <div class='login_message text-center alert alert-warning'>${flash.message}</div>
</g:if>
<div id="loginbox" style="margin-top:20px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">Sign In</div>

            <div style="float:right; font-size: 80%; position: relative; top:-10px">
            </div>
        </div>
        <div style="padding-top:30px" class="panel-body">
            <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
            <form action='${postUrl}' method='POST' id='loginForm' autocomplete='off' class="form-horizontal">
                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input type='text' class='form-control' name='j_username' id="login-username" placeholder="username" required
                              autofocus/>
                    </div>
                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input id="login-password" type="password" class="form-control" name='j_password' placeholder="password" required>
                </div>
                    <p><input type='submit' id="btn-fblogin" value='${message(code: "springSecurity.login.button")}'
                              class="btn btn-primary col-sm-3"/></p>
            </form>
        </div>
    </div>
</div>
<script type='text/javascript'>
    <!--
    (function () {
        document.forms['loginForm'].elements['j_username'].focus();
    })();
    // -->
</script>
</body>
</html>
